<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nester Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="/asset/favicon.ico" type="image/x-icon">
    <style>
        body {
            background-color: #c1efde;
        }
        .form-control:focus {
          box-shadow: none;
          border-color: #009d63;
        }
        .submit-button {
          background: #009d63;
          box-shadow: none;
          border: none;
        }
      
        .submit-button:hover {
          background: #028756;
        }
    </style>
</head>
<body>
    <section>
        <div class="container mt-5 pt-5">
          <div class="row">
            <div class="col-12 col-sm-7 col-md-6 m-auto">
              <div class="card border-0 shadow">
                <div class="card-body">
                  <div class="text-center">
                    <img src="/asset/images/nester-logo.png" alt="" height="50px" width="50px">
                    <p class="h4">Nester Login</p>
                  </div>
                  <form action="/login" method="POST">
                    <input type="text" name="username" id="uname" class="form-control my-4 py-2 form-control" placeholder="Username or Email" />
                    <input type="password" name="password" id="password" class="form-control my-4 py-2 form-control" placeholder="Password" />
                    <div class="text-center mt-3">
                      <button class="btn btn-primary submit-button">Login</button>
                      <a href="/signup" class="nav-link mt-3">Don't have an account?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>