<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/asset/css/bootstrap5.3.3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/asset/css/profile.css">
    <link rel="shortcut icon" href="/asset/favicon.ico" type="image/x-icon">
    <title>User Profile</title>
</head>
<body>
    <div class="container rounded bg-white mt-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="/asset/images/robo_profile.jpeg" width="90">
                    <span class="font-weight-bold label-text">John Doe</span>
                    <span class="text-black-50">john_doe12@bbb.com</span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <form action="/profile" method="POST">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center"><i class="fas fa-chevron-left me-1 mb-2"></i>
                                <h6><a href="/dashboard" class="back">Back to dashboard</a></h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label for="username" class="label-text">Username:</label><input type="text" class="form-control" placeholder="Username" value="John" name="username"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label for="email" class="label-text">Email:</label><input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com" name="email"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label for="current-password" class="label-text">Current Password:</label><input type="password" class="form-control" placeholder="Current Password" value="" name="current-password"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label for="new-password" class="label-text">New Password:</label><input type="password" class="form-control" placeholder="New Password" value="" name="new-password"></div>
                            <div class="col-md-6"><label for="new-password" class="label-text">Confirm New Password:</label><input type="password" class="form-control" placeholder="Confirm New Password" value="" name="new-password"></div>
                        </div>
                        <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>