<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link href="/asset/css/bootstrap5.3.3.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/asset/favicon.ico" type="image/x-icon">
    <style>
      body {
        background-color: #c1efde;
      }
      .form-control:focus {
        box-shadow: none;
        border-color: #009d63;
      }
      .submit-button {
        background: #009d63;
        box-shadow: none;
        border: none;
      }
      
      .submit-button:hover {
        background: #028756;
      }
    </style>
</head>
<body>
    <section>
        <div class="container mt-5 pt-5">
          <div class="row">
            <div class="col-12 col-sm-7 col-md-6 m-auto">
              <div class="card border-0 shadow">
                <div class="card-body">
                  <div class="text-center">
                    <img src="/asset/images/nester-logo.png" alt="" height="50px" width="50px">
                    <p class="h4">Create New Account</p>
                  </div>
                  <form action="/signup" method="POST">
                    <input type="text" name="username" id="uname" class="form-control my-4 py-2 form-control" placeholder="Username" />
                    <input type="text" name="email" id="email" class="form-control my-4 py-2 form-control" placeholder="Email" />
                    <input type="password" name="password" id="password1" class="form-control my-4 py-2 form-control" placeholder="Password" />
                    <input type="password" name="c-password" id="password2" class="form-control my-4 py-2 form-control" placeholder="Confirm Password" />
                    <div class="text-center mt-3">
                      <button class="btn btn-primary submit-button">Sign up</button>
                      <a href="/login" class="nav-link mt-3">Already have an account ?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <script src="/asset/js/bootstrap5.3.3.min.js"></script>
</body>
</html>